{% extends "breadcrumbs.html" %}
{% load markup %}
{% block extrabody %} class="style1"{% endblock %}
{% block extrahead %}
<script src="/js/jquery-ui-1.7.2.custom.min.js" type="text/javascript"></script>
<script src="/js/codeslide.js" type="text/javascript"></script>
{% endblock %}
{% block content %}
  <div class="primary">
    <div class="primary-cnt">
      <div class="txt-col">
        {{ page.content|markdown:"vancodehilite" }}
      </div>
      <div class="aside">
      <div class="sub-nav">
        <div class="sub-nav-top">&nbsp;</div>
        <div class="sub-nav-cnt">
          {% ifnotequal page.parent.children.count 1 %}
          <h3>{% if page.parent %}{{ page.parent.title }}{% else %}{{ page.title }}{% endif %}</h3>
          <ul>
              {% if page.parent %}
              {% for child in page.parent.children.all %}
              {% ifequal child page %}
              <li class="active"><a href="{{ child.get_absolute_url }}">{{ child.title }}</a></li>
              {% else %}
              <li><a href="{{ child.get_absolute_url }}">{{ child.title }}</a></li>
              {% endifequal %}
              {% endfor %}
              {% else %}
              {% for child in page.children.all %}
              {% ifequal child page %}
              <li class="active"><a href="{{ child.get_absolute_url }}">{{ child.title }}</a></li>
              {% else %}
              <li><a href="{{ child.get_absolute_url }}">{{ child.title }}</a></li>
              {% endifequal %}
              {% endfor %}
              {% endif %}
          </ul>
          {% endifnotequal %}
        </div>
        <div class="sub-nav-btm">&nbsp;</div>
      </div>
      </div>

    </div>
  </div>
{% endblock %}