<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>ValueAddedNews</title>
	<link rel="stylesheet" type="text/css" href="css/all.css" />
	<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
	<!--[if lt IE 7]><link rel="stylesheet" type="text/css" href="css/lt7.css" media="screen"/><![endif]-->
</head>
<body>
	<div class="header">
		<div class="header-cnt">
			<div class="header-inn">
				<!-- logo -->
				<strong class="logo"><a href="#">ValueAddedNews</a></strong>
				<div class="profit">
					<p>A non-proft initiative OF THE</p>
					<ul>
						<li><a href="#"><img src="images/logo01.gif" alt="#" /></a></li>
						<li><a href="#"><img src="images/logo02.gif" alt="#" /></a></li>
					</ul>
				</div>
			</div>	
		</div>
	</div>
	<div class="menu">
		<ul>
			<li class="active"><a href="#">Home</a></li>
			<li><a href="#">Benefits</a></li>
			<li><a href="#">Demonstration</a></li>
			<li><a href="#">Resources</a></li>
			<li><a href="#">About</a></li>
			<li><a href="#">FAQ</a></li>
		</ul>
	</div>
	<div class="promo">
		<div class="promo-cnt">
			<h1>News mark-up that improves searching, sharing and protecting</h1>
			<a class="get-value" href="#">get value added news</a>
		</div>
	</div>
	<div class="watch-box">
		<div class="watch-box-cnt">
			<a class="watch-demonstration" href="#">watch demonstration</a>
		</div>
	</div>
	<div class="content">
		<div class="content-cnt">
			<div class="content-main">
				<h2>Benefits of Value Added News</h2>
				<ul class="list">
					<li>Make your content easier to find with clever search</li>
					<li>Give proper credit to the author(s)</li>
					<li>Protect uses of your news content</li>
					<li>Make your news principles transparent</li>
					<li>Unlock the hidden value of your news archive</li>
				</ul>
				<div class="btn-box">
					<a href="#">More Benefits</a>
				</div>
				<h2>How you get Value Added News</h2>
				<p>Easily, Quickly, Painlessly. Its Open Source. It’s free</p>
				<div class="btn-box">
					<a href="#">Get started</a>
				</div>
			</div>
			<div class="content-side">
				<div class="demo-box">
					<img src="images/demo01.png" alt="#" />
				</div>
				<blockquote cite="#">
					<p>
						<q>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore xercitation ullamco</q>
						<cite>Terry Leahy, Managing Director, Tesco</cite>
					</p>
				</blockquote>
			</div>
		</div>	
	</div>
	<div class="links">
		<ul>
			<li>
				Benefits
				<ul>
					<li><a href="#">CleverSearch</a></li>
					<li><a href="#">Proper credit</a></li>
					<li><a href="#">Protect content</a></li>
					<li><a href="#">Transparent principles</a></li>
					<li><a href="#">Unlock archive</a></li>
				</ul>
			</li>
			<li>
				Demonstration
				<ul>
					<li><a href="#">Watch Demonstration</a></li>
					<li><a href="#">Who is it for?</a></li>
					<li><a href="#">What are the criteria?</a></li>
					<li><a href="#">Statement of principles</a></li>
					<li><a href="#">Licenses</a></li>
				</ul>
			</li>
			<li>
				Resources
				<ul>
					<li><a href="#">Technical specification</a></li>
					<li><a href="#">API</a></li>
					<li><a href="#">Codes &amp; Tools</a></li>
					<li><a href="#">Plug-in support</a></li>
					<li><a href="#">Forum</a></li>
				</ul>
			</li>
			<li>
				About
				<ul>
					<li><a href="#">Background</a></li>
					<li><a href="#">Funding</a></li>
					<li><a href="#">News &amp; Press</a></li>
					<li><a href="#">Contacts</a></li>
					<li><a href="#">Mailing list</a></li>
				</ul>
			</li>
		</ul>
	</div>
	<!-- footer -->
	<div class="footer">
		<ul>
			<li>&copy;2007 Media Standards Trust</li>
			<li><a href="#">Privacy Policy</a></li>
			<li><a href="#">Terms &amp; Conditions</a></li>
		</ul>
	</div>
</body>
</html>