{% extends "cms/standard.html" %}
{% block content %}
<div class="primary">
  <div class="primary-cnt">
    <div class="txt-col">
        <h1>How to</h1>
        <p><strong>It's not rocket science</strong>
        </p>
        <p>Adding semantic value to your news is not rocket science. It doesn’t even require serious plumbing in the depths of your database.
        </p>
        <p>You can do it very simply by changing a few fields in your CSS templates.
        </p>
        <p><strong>Basic Level Mark-Up</strong> (<a href="http://microformats.org/wiki/hatom">hAtom</a>)
        </p>
        <p>At its most basic level – the ‘dip-your-toe-in’ added value – you can do this by marking up your content using the hAtom microformat. 
        </p>
        <p>hAtom provides semantic information for basic aspects of a news story – such as who wrote it, who it was written for and when it was published. Information that should already be machine-readable but in most cases isn’t. Integrating hAtom will make key elements of your content machine readable, but won’t distinguish your content specifically as news or identify usage rights.
        </p>
        <p><strong>Value Added News Mark-Up</strong> (hNews)
        </p>
        <p>To distinguish your content as news, and embed information about usage rights, a site should supp additional levels of semantic standards. For this we recommend hNews. hNews is an extension to the hAtom microformat developed in partnership with AP and released into the public domain.
        </p>

        <h1>Step-by-step example</h1>
        <p>Insert code mark up here
        </p>

        <h2>Step 1</h2>
        <p><strong>No Mark-Up</strong>: This is an example of a typical news story with html. None of the fields are marked up therefore they are not machine readable
        </p>

        <h2>Step 2</h2>
        <p><strong>Basic Level Mark-Up</strong>: This is the same news story with hAtom mark-up. You can see how factual information about the story is now distinguished, such as its title (entry-title), its author (author vcard), where it was written (locality), and when it was published (published updated).
        </p>
        <p>[For those with concerns about the accessibility of the date/time format in hAtom, we recommend an alternative – see below.]
        </p>

        <h2>Step 3</h2>
        <p><strong>Value Added News Mark-Up</strong>:This is the same news story with hNews mark-up. You can see that in addition to information about author, title, publish date/time, source organisation (source-org), statement of principles (rel-principles), and usage rights (hrights) are now added.
        </p>

        <h2>Alternative date/time format</h2>
        <p>Insert code box here with alternative date/time format
        </p>

        <h2>Additional Mark-Up</h2>
        <p>Once you have integrated You can easily add mark-up to hNews.
        </p>
        <p>You could, for example, mark-up events, people and places within the article itself. For an example of how to do this see below.
        </p>

        <h2>Additional Mark-Up Example</h2>
        <p>Insert advance mark-up example here
        </p>
        

    </div>
    <div class="aside">
  	<div class="sub-nav">
  		<div class="sub-nav-top">&nbsp;</div>
  		<div class="sub-nav-cnt">
  		</div>
  		<div class="sub-nav-btm">&nbsp;</div>
  	</div>	
    </div>
    
  </div>
</div>


{% endblock %}