{% extends "base.html" %}
{% block content %}
  <div class="promo">
  	<div class="promo-cnt">
  		<h1>News DNA for searching, sharing &nbsp;&nbsp; and protecting</h1>
  		<!--<a class="get-value" href="">get value added news</a>-->
  	</div>
  </div>
  <div class="watch-box">
  	<div class="watch-box-cnt">
  		<a class="watch-demonstration" href="/images/slideshow.html">watch demonstration</a>
  	</div>
  </div>
  <div class="content">
  	<div class="content-cnt">
  		<div class="content-main">
  			<h2>Benefits of Value Added News</h2>
  			<ul class="list">
  				<li>Make your content easier to find with value added search</li>
  				<li>Give proper credit to the author(s)</li>
  				<li>Protect uses of your news content</li>
  				<li>Make your news principles transparent</li>
  				<li>Unlock the hidden value of your news archive</li>
  			</ul>
  			<div class="btn-box">
  				<a href="/benefits">More Benefits</a>
  			</div>
  			<h2>How you get Value Added News</h2>
  			<p>Easily, Quickly, Painlessly. Its Open Source. It’s free</p>
  			<div class="btn-box">
  				<a href="/howto">Get started</a>
  			</div>
  		</div>
  		<div class="content-side">
  			<div class="demo-box">
                <img src="/images/demo01.png" usemap="#democlickymap" />
                <map name="democlickymap">
                  <area shape="rect" coords="117,506,376,556" href="/images/slideshow.html" alt="Slideshow" title="Watch a 90-second slideshow" />
                  <area shape="circle" coords="420,200,80" href="http://search.valueaddednews.org" alt="Value Added News Search" title="Try out Value Added search"/>
                </map>
  			</div>
  			<blockquote cite="#">
  				<p>
  					<q>Signposting online news consistently is good for news organisations and good for the public</q>
  					<cite class="vcard"><span class="fn">Martin Moore</span>, <span class="role">Director</span>, <span class="org">Media Standards Trust</span></cite>
  				</p>
  			</blockquote>
  		</div>
  	</div>	
  </div>
  
{% endblock %}
